body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ddd;
    background: url(back.jpg) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1f1f1f;
    color: #ddd;
    padding: 10px 0;
    text-align: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-right h3 {
    padding-right: 34px;
}

.site-title {
    margin: 0;
    font-size: 1.5rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #9c27b0; /* Purple color */
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 20px; /* Updated border-radius */
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px; /* Space between login button and menu */
}

.login-button:hover {
    background-color: #7b1fa2; /* Darker purple for hover effect */
}

.box-shadow-menu {
    font-size: 36px;
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0.4em;
    top: -0.3em;
    width: 1em;
    height: 0.08em;
    background: white;
    box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('back.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 11px 20px;
    flex: 1;
}

.hero-content {
    max-width: 36%;
    margin: 41px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin: 0;
}

.hero-content p {
    font-size: 2.2rem;
    margin: 20px 0;
    text-shadow: 0 0 10px rgba(156, 39, 176, 0.8), 0 0 20px rgba(156, 39, 176, 0.6), 0 0 30px rgba(156, 39, 176, 0.4);
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid rgba(156, 39, 176, 0.8);
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgba(156, 39, 176, 0.8); }
}

.button {
    margin-top: 20px;
}

.cta-button {
    margin-top: 45px;
    background-color: #9c27b0; /* Purple color */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 20px; /* Updated border-radius */
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #7b1fa2; /* Darker purple for hover effect */
}

.cta-content {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 40px;
}

.cta-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0px;
}

.cta-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    max-width: 10cm;
}

section {
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

section ul {
    list-style-type: none;
    padding: 0;
}


section ul li {
    color: #000000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

section ul li:hover {
    background-color: #e9e9e9;
    transform: scale(1.30);
}

section ul li strong {
    display: block;
    color: #0073e6;
    margin-bottom: 5px;
    font-size: 19px;
}

.footer {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}